@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.orange {
    color: orange
}
.heaf-width img {
    width: 100%;
}

.heaf-width {
    width: 50%;
    padding-left: 8%;
    padding-right: 5%;
    text-align: justify;
}
.heaf-width h2{
    font-size: 40px;
}

.flex-container {
    display: flex;
}
.button-link {
   text-decoration: none;
   margin-top: 5px;
   padding: 10px 40px;
   background: linear-gradient(orange,tomato);
   color: white;
   width: 700;
   border-radius:5px;
}
.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.site-banner {
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position:right;
}
.experiences-sec {
    padding-left: 10px;
}
